Source: ayni
Section: games
Priority: extra
Maintainer: Miguel Angel Garcia <miguel.garcia@gmail.com>
Build-Depends: debhelper (>= 8), python-all, python-setuptools
Standards-Version: 3.9.3
Homepage: https://github.com/gcoop-libre/ayni
Vcs-Git: git://200.55.245.7/ayni.git

Package: ayni
Architecture: all
Depends: ${python:Depends}, python (>= 2.6), python-pygame (>= 1.8)
Description: Juego educativo sobre cooperativismo
 Juego educativo para jugar cooperando. Ayni en quechua significa
 ayuda mutua que se prestan las personas en el trabajo.
